// Here you can add other styles

.no-bullet {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.page-list {
  display: flex;
  justify-content: center;

  li {
    padding: 10px;
    background: gray;
    margin-left: 5px;
    border-radius: 5px;

    a {
      color: white;

      &:hover {
        color: orange;
      }
    }
  }
}

// Header navbar

.navbar-wrapper {
  display: flex;
  background: white;
  align-items: center;
  max-height: 55px;
}

.navbar-nav {
  flex-direction: row;
}

.app-header.navbar-brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 55px;
  padding: 0;
  margin-right: 0;
  background-color: transparent;
}

.header-logo {
  width: 89px;
  height: 25px;
}

.header-logo-mobile {
  width: 30px;
  height: 30px;
  display: none;
}

.navbar-toggler-icon {
  background-image: url("../assets/img/elements/hamburger.svg");
  height: 23px;
}

.d-md-down-block {
  display: none;

  @media only screen and (max-width: 991.98px) {
    display: block;
    vertical-align: middle;
    width: 100%;
  }
}

//  End Header navbar

// BEGIN FOOTER

.app-footer {
  padding: 20px 50px;
}

// Side nav sidebar

.app-sidebar {
  height: calc(100vh - 55px);
  margin-left: 0;
  z-index: 1019;
  width: 200px;
  height: 100vh;
  flex: 0 0 200px;
  order: -1;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #fff;
  background: #2f353a;
}

.sidebar-wrapper {
  width: 100%;
}

.sidebar-wrapper .nav-link.active {
  color: #fff;
  background: #3a4248;
}

.sidebar-wrapper .nav-title {
  padding: 0.75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  color: #e4e7ea;
  text-transform: uppercase;
}

.nav {
  ul {
    padding: 0;
    margin: 0;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  li {
    display: block;
    width: 100%;
    cursor: pointer;
    position: relative;
    color: #fff;
    padding: 0.75rem 1rem;

    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 40px;
      cursor: pointer;
      opacity: 0;

      &:checked~ul {
        display: block;
      }

      &:checked~.nav__icon .icon-arrow-right {
        display: none
      }

      &:checked~.nav__icon .icon-arrow-down {
        display: block;
      }
    }

    ul {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 24px;

    i {
      position: absolute;
      right: 10px;
      top: 0;
    }
  }

  &__parent {
    height: 40px;
    line-height: 40px;
  }

  .icon-arrow-right {
    display: block
  }

  .icon-arrow-down {
    display: none;
  }
}

// css main

.app-main {
  width: 100%;
}

// User page

.btn-container {
  display: flex;

  button {
    margin-left: 20px;
  }

  button:first-child {
    margin-left: 0;
  }
}

.avatar-user-wrapper {
  img {
    max-width: 80px;
    height: auto;
  }
}

.user-table {
  width: 100%;
}

.btn-block+.btn-block {
  margin-top: 0;
}


// Profile

.avatar-all-wrapper {
  // background-color: inherit;
  border: none;
  align-items: center;
  padding: 15px;

}

.img-avatar-wrapper {
  width: 100%;
  background-color: inherit;
  text-align: center;


  img {
    width: 50%;
    max-height: 200px;
    border-radius: 50%;
  }

}

.avatar-text-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px;
}



// Model box

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  visibility: visible;

  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }

  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }

  .content {
    padding: 1rem;
  }

  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;

    button {
      border: 0;
      background: #78f89f;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

@supports (offset-rotation: 0deg) {
  offset-rotation: 0deg;
  offset-path: path("M 250,100 S -300,500 -700,-200");

  .modal.off {
    offset-distance: 100%;
  }
}

@media (prefers-reduced-motion) {
  .modal {
    offset-path: none;
  }
}

#centered-toggle-button {
  position: absolute;
}